{{ if ne .chezmoi.os "darwin" }}
.config/borders
.config/karabiner/karabiner.json
{{ end }}

{{ if (or (eq .chezmoi.os "darwin") (ne .hostType "desktop")) }}
.xsession
{{ end }}

# Ignore WezTerm config on OpenBSD
{{ if eq .chezmoi.os "openbsd" }}
.wezterm.lua
{{ end }}
