{{- if eq .chezmoi.os "openbsd" -}}
setxkbmap -layout us,ru,ua -option -option grp:win_space_toggle

slstatus &

feh --bg-fill ~/.local/share/wallpapers/cyberpunk_edgerunners/lucy01.jpg

exec dwm
{{- end -}}
